{% extends 'floreriaWeb/base.html' %}
{% load static %}
{% block contenido %}
{% load humanize %}
{% load crispy_forms_tags %}

<div class="container">
    <h2 class="text-center mt-3">Registro de Productos</h2>
    <hr>
    <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8 p-3">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <hr>
                    <button type="submit" class="button btn bg-success mb-3 text-white">Registrar Producto</button>
                </form>
                <a href=" {% url 'productoslistados' %} ">Ver Listado de Produtos</a>
            </div>
            <div class="col-2">
            </div>
    </div>
    
</div>

{% endblock contenido %}